<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <p><strong>Nome: </strong>{{nome}}</p><br><br>
    <p><strong>Email: </strong>{{email}}</p><br><br>
    <p><strong>Curso: </strong>{{curso}}</p><br><br>
    <p><strong>Sexo: </strong>{{sexo}}</p><br><br>
    <p><strong>Turnos: </strong>{{turno}}</p><br><br>
    <p><strong>Oberservações: </strong>{{observacoes}}</p><br><br>
    
</body>
</html>